*{
    padding:0;margin:0;list-style:none;box-sizing:border-box;
}
img{
    border:0;
}
a{
    text-decoration:none;
    color:#ccc;
}
body,html{
    width:100%;
    height:100%;
    overflow:hidden;
}
@font-face {
    font-family: "iconfont";
    src: url(../font/iconfont.woff);
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
}

.icon-maikefeng:before { content: "\e605"; }

.icon-key:before { content: "\e66e"; }

.icon-search:before { content: "\e674"; }

.icon-15:before { content: "\e60f"; }

.icon-ttpodicon:before { content: "\e6a6"; }

.icon-mulu:before { content: "\e602"; }

.icon-xiazai:before { content: "\e6a2"; }

.icon-guanyuwomen:before { content: "\e603"; }

.icon-kaishi:before { content: "\e608"; }

.icon-xiayiye:before { content: "\e621"; }

.icon-zuanshi:before { content: "\e613"; }

.icon-naozhong:before { content: "\e610"; }

.icon-tianjia:before { content: "\e61d"; }

.icon-shoucang:before { content: "\e619"; }

.icon-lajixiang:before { content: "\e61e"; }

.icon-jiantouzuo:before { content: "\e659"; }

.icon-jian:before { content: "\e607"; }

.icon-jia:before { content: "\e616"; }

.icon-pingjia:before { content: "\e609"; }

.icon-2:before { content: "\e767"; }

.icon-icon:before { content: "\e606"; }

.icon-iconfontbiaozhunmoban01:before { content: "\e612"; }

.icon-icondianzan:before { content: "\e645"; }

.icon-3d:before { content: "\e604"; }

.icon-circulation:before { content: "\e67a"; }

.icon-zanting:before { content: "\e712"; }

.icon-icon13:before { content: "\e617"; }

.icon-next:before { content: "\e600"; }

.icon-prev:before { content: "\e601"; }

.icon-kaishi1:before { content: "\e796"; }

.icon-yonghuming2:before { content: "\e893"; }

.icon-wrong_f:before { content: "\e64d"; }
.list{
    width:100%;
    height:100%;background:#070707;
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    z-index:1;

}
/*导航*/
#navs{
    width:100%;
    height:1.87rem;
    position:fixed;
    top:0;
}
#navs .list-biaot{
    width:100%;
    height:0.92rem;
    display:flex;
    justify-content:space-around;
    align-items:center;
    background:#070707;
    z-index:666;
    color:#fff;
}
#navs .list-biaot .leftback{
    width:0.5rem;
    height:0.5rem;
    display:block;
    background:#ec0086;
    border-radius:50%;
    margin-left:-0.65rem;
    text-align:center;
    line-height:0.5rem;
    font-size:0.3rem;
}
#navs .list-biaot .rightback{
    width:0.5rem;
    height:0.5rem;
    display:block;
    background:#ec0086;
    z-index:999;
    border-radius:50%;
    margin-right:-0.65rem;
    text-align:center;
    line-height:0.5rem;
    font-size:0.3rem;
}
#navs .list-biaot .mine{
    font-size:0.35rem;
    color:#ccc;
    font-weight:bold;
}
#navs .navbox{
    width:100%;
    height:0.94rem;
    background:#1b2026;
    display:flex;
    justify-content:space-around;
    align-items:center;
    z-index:666;
}
#navs .navbox span{
    font-size:0.36rem;
    color:#fff;
    font-weight:bolder;
}
#navs .navbox .active{
    color:#ec0086;
}

/*推荐页*/
.list #index{
    width:100%;
    display:block;
    margin-top:1.87rem;
    padding-bottom:1.37rem;
}

.listpicture{
    width:100%;
    height:3.92rem;
    background:url(../img/tj1.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
}
.listhot{
    width:100%;
    height:0.88rem;
    background:#1b1b1b;
    display:flex;
}
.listspan{
    font-size:0.3rem;
    line-height:0.88rem;
    display:block;
}
.span1{
    margin-left:0.5rem;
    color:#fff;
}
.span2{
    margin-left:0.1rem;
    color:#ccc;
}
.hotcon{
    width:100%;height:2.55rem;
    display:flex;
    justify-content:space-around;
}
.conneir{
    width:2.05rem;
    height:100%;
}
.conneir1{
    background:url(../img/tj3.png) no-repeat;
    background-size:100% 100%;
}
.love{
    font-size:0.3rem;
    color:#000;
    display:block;
    margin-top:1.85rem;
}
.author1{
    font-size:0.25rem;
    color:#333;
    display:block;
    margin-left:0.85rem;
}
.conneir2{
    background:url(../img/tj4.png) no-repeat;
    background-size:100% 100%;
}
.conneir3{
    background:url(../img/tj6.png) no-repeat;
    background-size:100% 100%;
}
.singbox{
    width:100%;height:1.84rem;
    background:url(../img/tj7.png) no-repeat;
    background-size:100% 100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.dzqtu{
    width:2.29rem;
    height:1.77rem;
    background:url(../img/tj9.png) no-repeat;
    background-size:100% 100%;
}
.wordbox{
    width:3.4rem;
    height:1.5rem;
    border-bottom:0.01rem solid #dcb6b5;
}
.listspan1{
    font-size:0.3rem;
    color:#fff;
    font-weight:bold;
    display: block;
}
.young{
    font-size:0.26rem;
    color:#ccc;
    display:block;
}
.shoucang{
    display:block;
    font-size:0.3rem;
    color:yellow;
    margin-top:0.1rem;
    float:left;
}
.dianzan{
    display:block;
    font-size:0.3rem;
    color:#ec0086;
    margin-top:0.1rem;
    margin-left:1rem;
    float:left;
}
.shoucang span,.dianzan span{
    color:#fff;
}
.zhoujlbox{
    width:100%;height:1.4rem;
    position:fixed;
    bottom:0;
    background:#070707;
}
.color{
    height:0.1rem;
}
.zuoyoubox{
    width:100%;
    height:1.37rem;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.listleft{
    width:1.17rem;
    height:1.17rem;
    background:url(../img/tj8.png) no-repeat;
    background-size:100% 100%;
    animation: donghua 10s linear infinite;
}
/*@keyframes donghua{*/
    /*0%{*/
        /*transform:rotate(0deg);*/
    /*}*/
    /*50%{*/
        /*transform:rotate(180deg);*/
    /*}*/
    /*100%{*/
        /*transform:rotate(360deg);*/
    /*}*/
/*}*/
.listright{
     width:5.18rem;
     height:0.86rem;
    /*margin-top:-0.2rem;*/
}
.listline{
    width:100%;height:0.12rem;
}
.listline .videoline1{
    width:5rem;
    height:0.06rem;
    margin:0 auto;
    background:#ccc;
    border-radius:0.06rem;
    position:relative;
}
.listline .yinshen{
    position:absolute;
    height:0.06rem;
    left:0;
    top:0;
    background:deeppink;
    border-radius:0.06rem;
}
.listline .videocircles{
    width:0.2rem;
    height:0.2rem;
    border-radius:50%;
    position:absolute;
    left:-0.06rem;
    top:-0.06rem;
    background:blue;
}
.singboxs{
    width:0.89rem;
    height:0.66rem;
    margin-top:0.08rem;
    float:left;
}
.sing{
    display:block;
    font-size:0.25rem;
    color:#fff;
}
.singname{
    display:block;
    font-size:0.2rem;
    color:#ccc;
}
.listjiantou{
    width:1.78rem;
    height:0.3rem;
    float:right;
    margin-top:0.2rem;
}
.listjiantou .videobottom1{
    width:100%;height:100%;
    display:flex;
    justify-content:space-around;
}
.jiantou{
    font-size:0.3rem;
    color:#fff;
    display:block;
}
.listjiantou .mf-iconbox .icon-kaishi {
    font-size: 0.4rem;
    display: block;
}
.listjiantou .mf-iconbox .play{
    font-size:0.4rem;
    display:block;
    margin-top:-0.1rem;
}

/*分类页*/
.list #fenlei{
    display:none;
    width:100%;
    margin-top:1.87rem;
    padding-bottom:1.37rem;
}
.fenleibigtu{
    width:100%;
    height:4.50rem;
    background:url(../img/lb1.png) no-repeat;
    background-size:100% 100%;
}
.fenleismallbox{
    width:100%;
    height:auto;
    display:flex;
    justify-content:space-around;
    align-content:center;
    margin-top:0.03rem;
}
.popular{
    width:2.32rem;
    height:2.73rem;
}
.smallbox1 .popular:nth-child(1){
    background:url(../img/lb2.png) no-repeat;
    background-size:100% 100%;
}
.smallbox1 .popular:nth-child(2){
    background:url(../img/lb3.png) no-repeat;
    background-size:100% 100%;
}
.smallbox1 .popular:nth-child(3){
    background:url(../img/lb4.png) no-repeat;
    background-size:100% 100%;
}
.zhezhao{
    width:100%;
    height:100%;
    background:rgba(0,0,0,.5);
    line-height:2.73rem;
    text-align:center;
}
.zhezhao span{
    font-size:0.5rem;
    color:#fff;
}
.smallbox2 .popular:nth-child(1){
    background:url(../img/li5.png) no-repeat;
    background-size:100% 100%;
}
.smallbox2 .popular:nth-child(2){
    background:url(../img/lb6.png) no-repeat;
    background-size:100% 100%;
}
.smallbox2 .popular:nth-child(3){
    background:url(../img/lb7.png) no-repeat;
    background-size:100% 100%;
}

/*mv*/
.list #mv{
    display:none;
    width:100%;
    margin-top:1.87rem;
    padding-bottom:1.37rem;
}
.mvbox{
    width:100%;
    height:1.6rem;
    background:#1a1a1a;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.nvleft{
    width:3.03rem;
    height:1.27rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.nvlefttu{
    width:1.27rem;
    height:1.27rem;
}
.tup1{
    background:url(../img/mv1.png) no-repeat;
    background-size:100% 100%;
}
.tup2{
    background:url(../img/mv2.png) no-repeat;
    background-size:100% 100%;
}
.tup3{
    background:url(../img/mv3.png) no-repeat;
    background-size:100% 100%;
}
.tup4{
    background:url(../img/mv4.png) no-repeat;
    background-size:100% 100%;
}
.tup5{
    background:url(../img/mv5.png) no-repeat;
    background-size:100% 100%;
}
.tup6{
    background:url(../img/mv6.png) no-repeat;
    background-size:100% 100%;
}
.nvleft span{
    font-size:0.35rem;
    color:#fff;
    display:block;
}
.nvright{
    width:2.2rem;
    height:1.27rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.nvright span:nth-child(1){
    display:block;
    font-size:0.35rem;
    color:#fff;
}
.nvright span:nth-child(2){
    display:block;
    font-size:0.3rem;
    color:#ec0086;
}
.mvbottom{
    width:100%;height:1.17rem;
    margin-top:0.35rem;
}

/*我的页面*/
.list #mine{
    display:none;
    width:100%;
    margin-top:1.87rem;
    padding-bottom:1.37rem;
}
.minedzqbox{
    width:100%;height:4.27rem;
    background:#1b1b1b;
}
.minesmall{
    width:100%;
    height:100%;
    /*background:red;*/
    float:left;
    text-align:center;
}
.dengziqitu{
    width:2.17rem;
    height:2.17rem;
    background:url(../img/mine1.png) no-repeat;
    background-size:100% 100%;
    margin:0.7rem auto 0;

}
.minesmall span{
    font-size:0.4rem;
    color:#fff;
    display:block;
    margin-top:0.1rem;
}
.minesongerbox{
    width:100%;
    height:5.75rem;
    background:#1b1b1b;
}
.xiazaibox{
    width:80%;height:1.21rem;
    margin:0 auto;
    border-bottom:0.01rem solid #371829;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.xiazaibox:nth-child(1){
    border-top:0.01rem solid #371829;
}
.mineleft{
    width:auto;
    height:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.xiazaibox span{
    font-size:0.3rem;
    color:#fff;
}
.liwai{
    margin-top:0.2rem;
}
.videobottom1 .play{
    font-size:0.5rem;
}
.videobottom1 .icon-kaishi{
    font-size:0.5rem;
    display:block;
    margin-top:-0.1rem;
}

/*播放列表*/
.playlist{
    width: 6rem;
    height: 8.74rem;
    background: red;
    position: absolute;
    top: 3.5rem;
    left: -1.19rem;
    z-index: 9999;
    transform-origin: 0 100%;
    transform: rotate(-90deg);
    opacity:0;
}
.playlist.active{
    opacity:1;
}