*{
    padding:0;margin:0;
    list-style:none;
    box-sizing:border-box;
}
a{
    text-decoration:none;
    color:#ccc;
}
img{
    border:0;
}
@font-face {
    font-family: "iconfont";
    src: url(../font/iconfont.woff);
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
}

.icon-maikefeng:before { content: "\e605"; }

.icon-key:before { content: "\e66e"; }

.icon-search:before { content: "\e674"; }

.icon-15:before { content: "\e60f"; }

.icon-ttpodicon:before { content: "\e6a6"; }

.icon-mulu:before { content: "\e602"; }

.icon-xiazai:before { content: "\e6a2"; }

.icon-guanyuwomen:before { content: "\e603"; }

.icon-xiayiye:before { content: "\e621"; }

.icon-zuanshi:before { content: "\e613"; }

.icon-naozhong:before { content: "\e610"; }

.icon-tianjia:before { content: "\e61d"; }

.icon-shoucang:before { content: "\e619"; }

.icon-lajixiang:before { content: "\e61e"; }

.icon-jiantouzuo:before { content: "\e659"; }

.icon-jian:before { content: "\e607"; }

.icon-jia:before { content: "\e616"; }

.icon-pingjia:before { content: "\e609"; }

.icon-2:before { content: "\e767"; }

.icon-icon:before { content: "\e606"; }

.icon-iconfontbiaozhunmoban01:before { content: "\e612"; }

.icon-icondianzan:before { content: "\e645"; }

.icon-3d:before { content: "\e604"; }

.icon-circulation:before { content: "\e67a"; }

.icon-zanting:before { content: "\e712"; }

.icon-icon13:before { content: "\e617"; }

.icon-next:before { content: "\e600"; }

.icon-prev:before { content: "\e601"; }

.icon-yonghuming2:before { content: "\e893"; }

.icon-wrong_f:before { content: "\e64d"; }
html,body{
    width:100%;
    height:100%;
    overflow:auto;
}
#videopage{
    width:100%;
    height:100%;
    background:#101010;
    position:relative;
    top:0;left:0;
    z-index:999;
    transform-origin:0 100%;
    transform:rotate(90deg);

}
.videopage1{
    width:100%;
    height:100%;
}
.videotop1{
    width:100%;
    height:0.88rem;
    background:#101010;
    position:absolute;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.videocircle1{
    text-align:center;
    line-height:0.48rem;
    color:#fff;
}
.circle1{
    margin-left:-0.9rem;

}
.circle2{
    margin-right:-0.9rem;
}
.zjls{
    color:#fff;
    text-align:center;
}
.zjlg{
    display:block;
    font-size:0.3rem;
}
.zjln{
    display:block;
    font-size:0.25rem;
}
.zjls{
    width:0.9rem;
    height:0.62rem;
}

.swiper-container{
    width:100%;
    height:11.32rem;
    float:left;
    margin-top:0.88rem;

}
.swiper-slide:nth-child(1){
    width:100%;
    height:11.32rem;
    background:url(../img/bfb1.png) no-repeat;
    background-size:100% 100%;
}
.swiper-slide:nth-child(2){
    width:100%;
    height:11.32rem;
    background:url(../img/bfb2.png) no-repeat;
    background-size:100% 100%;
}
.swiper-slide:nth-child(3){
    width:100%;
    height:11.32rem;
    background:url(../img/bfb2.png) no-repeat;
    background-size:100% 100%;
}
.slideline{
    width:100%;
    height:1px;
    background:#ccc;
}
.videocentertu1{
    width:4.35rem;
    height:4.36rem;
    background:url(../img/bf1.png) no-repeat;
    background-size:100% 100%;
    margin:1.96rem auto 0;
}
.timebox{
    width:6.31rem;
    height:0.18rem;
    display:flex;
    margin:2rem auto 0;
    justify-content:space-between;
    align-items:center;
}
.timebox span{
    font-size:0.18rem;
    color:#ccc;
    display:block;
}
.videoline1{
    width:6.31rem;
    height:0.06rem;
    margin:0.2rem auto 0;
    background:#ccc;
    border-radius:0.06rem;
    position:relative;
}
.yinshen{
    position:absolute;
    height:0.06rem;
    left:0;
    top:0;
    background:deeppink;
    border-radius:0.06rem;
}
.videocircles{
    width:0.2rem;
    height:0.2rem;
    border-radius:50%;
    position:absolute;
    left:-0.06rem;
    top:-0.06rem;
    background:blue;
}
.mf-iconbox .play{
    font-size:0.5rem;
}
.mf-iconbox .icon-kaishi{
    font-size:0.5rem;
    display:block;
    margin-top:-0.1rem;
}
.gecibox{
    width:100%;
    height:auto;
    margin-top:0.46rem;
    text-align:center;
}
.gecibox span{
    font-size:0.25rem;
    color:#fff;
    display:block;

}
.gecibox span:nth-child(2){
    margin-top:0.3rem;
}
.videobottom1{
    position:absolute;
    bottom:0;
    width:100%;
    height:1.18rem;
    background:#050108;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.videobottom1 span{
    color:#fff;
    font-size: 0.3rem;
}

/*二屏*/
.voicebox{
    width:6.12rem;
    height:0.42rem;
    margin:0.76rem auto 0;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.voicebox span{
    color:#fff;
    font-size:0.3rem;
    display:block;
}
.line2{
    width:5.14rem;
    height:0.19rem;
    background:url(../img/line2.png) no-repeat;
    background-size:100% 100%;
}
.geciboxs{
    width:100%;
    height:8.08rem;
    margin-top:0.5rem;
    line-height:0.5rem;
    text-align:center;
}
.geciboxs span{
    font-size: 0.25rem;
    display:block;
    color:#fff;
}
.geciboxs .gray{
    color:#ccc;
}
.geciboxs .pinkhot{
    color:#ec0086;
}
/*三屏*/
